[submodule "src/modules/injective/lib/injective-core"]
	path = src/modules/injective/lib/injective-core
	url = https://github.com/OpenDeFiFoundation/injective-core.git
[submodule "src/modules/osmosis/lib/osmosis"]
	path = src/modules/osmosis/lib/osmosis
	url = https://github.com/osmosis-labs/osmosis.git
[submodule "src/modules/sei/lib/sei-chain"]
	path = src/modules/sei/lib/sei-chain
	url = https://github.com/sei-protocol/sei-chain.git
[submodule "src/modules/secret/lib/SecretNetwork"]
	path = src/modules/secret/lib/SecretNetwork
	url = https://github.com/scrtlabs/SecretNetwork.git
[submodule "src/modules/noble/lib/noble"]
	path = src/modules/noble/lib/noble
	url = https://github.com/noble-assets/noble.git
[submodule "src/modules/stride/lib/stride"]
	path = src/modules/stride/lib/stride
	url = https://github.com/Stride-Labs/stride.git
[submodule "src/modules/neutron/lib/neutron"]
	path = src/modules/neutron/lib/neutron
	url = https://github.com/neutron-org/neutron.git
[submodule "src/modules/axelar/lib/axelar-core"]
	path = src/modules/axelar/lib/axelar-core
	url = https://github.com/axelarnetwork/axelar-core
[submodule "src/modules/terra/lib/core"]
	path = src/modules/terra/lib/core
	url = https://github.com/terra-money/core
[submodule "src/modules/dydx/lib/v4-chain"]
	path = src/modules/dydx/lib/v4-chain
	url = https://github.com/dydxprotocol/v4-chain.git
	branch = release/protocol/v3.x
[submodule "src/modules/andromeda/lib/andromedad"]
	path = src/modules/andromeda/lib/andromedad
	url = https://github.com/andromedaprotocol/andromedad
[submodule "src/modules/composable/lib/composable-cosmos"]
	path = src/modules/composable/lib/composable-cosmos
	url = https://github.com/ComposableFi/composable-cosmos
[submodule "src/modules/kava/lib/kava"]
	path = src/modules/kava/lib/kava
	url = https://github.com/Kava-Labs/kava
[submodule "src/modules/mars/lib/hub"]
	path = src/modules/mars/lib/hub
	url = https://github.com/mars-protocol/hub.git
[submodule "src/modules/juno/lib/juno"]
	path = src/modules/juno/lib/juno
	url = https://github.com/CosmosContracts/juno.git
[submodule "src/modules/chihuahua/lib/chihuahua"]
	path = src/modules/chihuahua/lib/chihuahua
	url = https://github.com/ChihuahuaChain/chihuahua.git
[submodule "src/modules/orai/lib/orai"]
	path = src/modules/orai/lib/orai
	url = https://github.com/oraichain/orai.git
[submodule "src/modules/dymension/lib/dymension"]
	path = src/modules/dymension/lib/dymension
	url = https://github.com/dymensionxyz/dymension.git
[submodule "src/modules/persistence/lib/persistenceCore"]
	path = src/modules/persistence/lib/persistenceCore
	url = https://github.com/persistenceOne/persistenceCore
[submodule "src/modules/migaloo/lib/migaloo-chain"]
	path = src/modules/migaloo/lib/migaloo-chain
	url = https://github.com/White-Whale-Defi-Platform/migaloo-chain.git
[submodule "src/modules/gaia/lib/gaia"]
	path = src/modules/gaia/lib/gaia
	url = https://github.com/cosmos/gaia.git
[submodule "src/modules/kujira/lib/core"]
	path = src/modules/kujira/lib/core
	url = https://github.com/Team-Kujira/core.git
[submodule "src/modules/archway/lib/archway"]
	path = src/modules/archway/lib/archway
	url = https://github.com/archway-network/archway
[submodule "src/modules/akash/lib/node"]
	path = src/modules/akash/lib/node
	url = https://github.com/akash-network/node
[submodule "src/modules/jackal/lib/canine-chain"]
	path = src/modules/jackal/lib/canine-chain
	url = https://github.com/JackalLabs/canine-chain.git
[submodule "src/modules/nolus/lib/nolus-core"]
	path = src/modules/nolus/lib/nolus-core
	url = https://github.com/nolus-protocol/nolus-core.git
[submodule "src/modules/comdex/lib/comdex"]
	path = src/modules/comdex/lib/comdex
	url = https://github.com/comdex-official/comdex.git
[submodule "src/modules/cudos/lib/cudos-node"]
	path = src/modules/cudos/lib/cudos-node
	url = https://github.com/cudoventures/cudos-node.git
[submodule "src/modules/planq/lib/planq"]
	path = src/modules/planq/lib/planq
	url = https://github.com/planq-network/planq.git
[submodule "src/modules/decentr/lib/decentr"]
	path = src/modules/decentr/lib/decentr
	url = https://github.com/Decentr-net/decentr.git
