[submodule "lib/cosmos-sdk"]
	path = lib/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk
[submodule "lib/cosmos-proto"]
	path = lib/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto
[submodule "lib/protobuf"]
	path = lib/protobuf
	url = https://github.com/regen-network/protobuf
[submodule "lib/googleapis"]
	path = lib/googleapis
	url = https://github.com/googleapis/googleapis.git
